<mat-grid-list cols="12" rowHeight="50px" gutterSize="15px">
  <ng-container *ngFor="let item of items; let i=index">
    <mat-grid-tile colspan="8">
      <span>{{ item.name }} </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <button mat-icon-button>
        <mat-icon></mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(item.id)">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-grid-tile>
  </ng-container>
</mat-grid-list>

<ng-container *ngIf="isAdding">
  <mat-grid-list cols="12" rowHeight="50px" gutterSize="15px">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-grid-tile colspan="8">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Entrer le nom de la clinique</mat-label>
          <input matInput placeholder="" value="" formControlName="name">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <button mat-icon-button color="primary" type="submit">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onCancel()">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-grid-tile>
    </form>
  </mat-grid-list>
</ng-container>
<mat-grid-list cols="12" rowHeight="50px" gutterSize="15px">
  <mat-grid-tile colspan="12">
    <button mat-stroked-button color="primary"  [disabled]="isAdding"  (click)="onAdd()" class="full-width">+ Ajouter une clinique</button>
  </mat-grid-tile>
</mat-grid-list>


