<ng-container *ngIf="!isEditing">
       <mat-grid-list cols="12" rowHeight="50px" gutterSize="15px">
        <mat-grid-tile colspan="12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Vous pouvez chercher par reference de dossier, par patient ou par motif d'intervention </mat-label>
            <input [(ngModel)]="filterarg" filterarg matInput placeholder="Ex. x-12345">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
 

  <mat-card class="card" *ngFor="let item of items | interventionFilter:filterarg">
    <app-intervention-card [item]="item" [cliniqueList]="cliniqueList" (editEmitter)="onEdit($event)"
                           (deleteEmitter)="onDelete($event)"></app-intervention-card>
  </mat-card>

  <mat-grid-list cols="12" rowHeight="50px" gutterSize="15px" class='action'>
    <mat-grid-tile colspan="12">
      <button mat-stroked-button color="primary" (click)="onAdd()" class="full-width">
        + Ajouter une
        intervention
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>


<ng-container *ngIf="isEditing">

  <mat-grid-list cols="12" rowHeight="50px" gutterSize="15px">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

      <mat-grid-tile colspan="8">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Clinique</mat-label>
          <mat-select formControlName="clinique">
            <mat-option *ngFor="let clinique of cliniqueList" [value]="clinique.id">
              {{clinique.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="4">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Numero de dossier clinique</mat-label>
          <input matInput placeholder="" formControlName="ref">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="6">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="f_Name">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="6">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="" formControlName="l_Name">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="4">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Date d'admission</mat-label>
          <input matInput [matDatepicker]="admission_Date"  (focus)="admission_Date.open()" >
          <mat-datepicker-toggle matSuffix [for]="admission_Date"></mat-datepicker-toggle>
          <mat-datepicker #admission_Date></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
       

      <mat-grid-tile colspan="8">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Motif d'intervention</mat-label>
          <input matInput placeholder="" formControlName="motif">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="6">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Diag</mat-label>
          <input matInput placeholder="" formControlName="diag">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="6">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Examen Clinique</mat-label>
          <input matInput placeholder="" formControlName="examen_Clinique">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="12" [rowspan]="panelOpenState ? 20 : 1">
        <mat-accordion class="full-width" appearance="fill">

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Biologie
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>HB</mat-label>
              <input matInput placeholder="" formControlName="biologie_hb">
            </mat-form-field>


            <mat-form-field class="full-width" appearance="fill">
              <mat-label>GB</mat-label>
              <input matInput placeholder="" formControlName="biologie_gb">
            </mat-form-field>


            <mat-form-field class="full-width" appearance="fill">
              <mat-label>PLG</mat-label>
              <input matInput placeholder="" formControlName="biologie_plg">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>UREE</mat-label>
              <input matInput placeholder="" formControlName="biologie_uree">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Crea</mat-label>
              <input matInput placeholder="" formControlName="biologie_crea">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Na+</mat-label>
              <input matInput placeholder="" formControlName="biologie_na">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>K+</mat-label>
              <input matInput placeholder="" formControlName="biologie_k">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Glycémie</mat-label>
              <input matInput placeholder="" formControlName="biologie_glycemie">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>TP</mat-label>
              <input matInput placeholder="" formControlName="biologie_tp">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>INR</mat-label>
              <input matInput placeholder="" formControlName="biologie_inr">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>TCK</mat-label>
              <input matInput placeholder="" formControlName="biologie_tck">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>CRP</mat-label>
              <input matInput placeholder="" formControlName="biologie_crp">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Autre</mat-label>
              <input matInput placeholder="" formControlName="biologie_other">
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-grid-tile>



      <!--END Biologie-->

      <mat-grid-tile colspan="12">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Radiologie</mat-label>
          <input matInput placeholder="" formControlName="radiologie">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="6">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Operateur</mat-label>
          <input matInput placeholder="" formControlName="operateur">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="6">
        <app-auto-complete class="full-width" [options]="mutualiste_options" [control]="form.get('mutualiste')"></app-auto-complete>
      </mat-grid-tile>

      <mat-grid-tile colspan="12">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Conclusion</mat-label>
          <input matInput placeholder="" formControlName="conclusion">
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile colspan="12">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>MAJ</mat-label>
          <input matInput placeholder="" formControlName="maj">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="6">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Honoraire</mat-label>
          <input matInput placeholder="" formControlName="honoraire">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="6">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Remise</mat-label>
          <input matInput placeholder="" formControlName="remise">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="12">
        <mat-form-field class="full-width" appearance="fill">

          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statusList" [value]="status.id">
              {{status.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>


    </form>
  </mat-grid-list>

  <mat-grid-list cols="12" rowHeight="50px" gutterSize="15px">
    <mat-grid-tile colspan="6">
      <button mat-raised-button color="primary" (click)="onSubmit()" class="full-width">Sauvegarder</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
      <button mat-stroked-button color="warn" (click)="onCancel()" class="full-width">Annuler</button>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
