.toLeft {
    justify-content: left;

}

.toRight {
    justify-content: right;

}


.toCenter {
    justify-content: center;

}


.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


.mat-expansion-panel {
  background: rgb(240 240 240);
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
