<mat-card-content>
  <mat-grid-list cols="12" rowHeight="50px" gutterSize="10px">
    <mat-grid-tile colspan="3">
      <div class="text-inside-grid-left">{{item.id}} </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
      <div class="text-inside-grid-left cursor" (click)="onEditItem(item)">
        {{item.f_Name}} {{item.l_Name}}
        <br>
        {{item.age >0 ? item.age : '- ' }} ans
      </div>
      
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="text-inside-grid-right">
        {{item.sortie_Date | date:'mediumDate':'fr'}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="text-inside-grid-left">
        {{getCliniqueNamebyId(item.clinique)?.name}}
        <br>
        {{item.ref}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
      <div class="text-inside-grid-left">
        {{item.motif}}
        <br>
        {{item.admission_Date | date:'mediumDate':'fr'}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">

    </mat-grid-tile>

    <ng-container *ngIf="showAction">
      <mat-grid-tile colspan="1" class="text-inside-grid-right">
        <button mat-icon-button color="primary" (click)="onEditItem(item)">
          <mat-icon>
            edit
          </mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" class="text-inside-grid-right">
        <button mat-icon-button color="warn" (click)="onDeleteItem(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-grid-tile>
    </ng-container>

  </mat-grid-list>

</mat-card-content>
