<mat-card-content>
  <mat-grid-list cols="12" rowHeight="50px" gutterSize="15px">
    <mat-grid-tile colspan="3">
      <div class="text-inside-grid-left">{{item.id}} </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
      <div class="text-inside-grid-left">{{item.f_Name}} {{item.l_Name}}</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="text-inside-grid-right">
        {{item.admission_Date}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="text-inside-grid-left">
        {{getCliniqueNamebyId(item.clinique)}}
        <br>
        {{item.ref}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
      <div class="text-inside-grid-left">
        {{item.motif}}
        <br>
        {{item.status}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
 
    </mat-grid-tile>
    <mat-grid-tile colspan="1" class="text-inside-grid-right">
      <button mat-icon-button color="primary" (click)="onEditItem(item)">
        <mat-icon>
          edit
        </mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" class="text-inside-grid-right">
      <button mat-icon-button color="warn" (click)="onDeleteItem(item.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-grid-tile>

  </mat-grid-list>

</mat-card-content>
