.responsive {
  width: 100%;
  height: auto;
  border-radius: 15px;
  max-height: 350px;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.landing {
  min-width: 600px;
  height: auto;
}
mat-label {
  color: #3f51b5;

}
