<div class="card-wrapper">

  <mat-card class="example-card">
    <mat-card-title> Interventions plannifiées pour aujourd'hui  </mat-card-title>
    <mat-card-content  [style.overflow]="'auto'" [style.height.px]="'275'">
      <mat-card class="card" *ngFor="let item of intervention_plannified | interventionFilter:filterarg">
        <app-intervention-card [item]="item" [showAction]="false"></app-intervention-card>
      </mat-card>
    </mat-card-content>
  </mat-card>

</div>

<div class="card-wrapper">
  <mat-card class="example-card">
    <mat-card-title> Interventions récentes</mat-card-title>
    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'275'">
      <mat-card class="card" *ngFor="let item of intervention_recentes | interventionFilter:filterarg">
        <app-intervention-card [item]="item" [showAction]="false"></app-intervention-card>
      </mat-card>
    </mat-card-content>
  </mat-card>

</div>

<div class="card-wrapper">
  <mat-card class="example-card">
    <mat-grid-list cols="12" rowHeight="50px" gutterSize="10px">
      <mat-grid-tile colspan="4">
        <button [routerLink]="'/home'" mat-button class="menu-button">
          <mat-icon>home</mat-icon>
        </button>
      </mat-grid-tile>

      <mat-grid-tile colspan="4">
        <button [routerLink]="'/interventions'" mat-button class="menu-button">
          <mat-icon>medication</mat-icon>
        </button>

      </mat-grid-tile>

      <mat-grid-tile colspan="4">
        <button [routerLink]="'/cliniques'" mat-button class="menu-button">
          <mat-icon>location_city</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="25px" gutterSize="10px">
      <mat-grid-tile colspan="4">
        <button [routerLink]="'/home'" mat-button class="menu-button">
          <span>Acceuil</span>
        </button>
      </mat-grid-tile>

      <mat-grid-tile colspan="4">
        <button [routerLink]="'/interventions'" mat-button class="menu-button">
          <span>Intérventions</span>
        </button>

      </mat-grid-tile>

      <mat-grid-tile colspan="4">
        <button [routerLink]="'/cliniques'" mat-button class="menu-button">
          <span>Cliniques</span>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
