<mat-label class="page-title text-primary">Creer un compte</mat-label>

 <div *ngIf="showError" class="alert alert-danger" role="alert">
  <span [innerHTML]="errorMessage"></span>
</div>
<form [formGroup]="registerForm" autocomplete="off" novalidate  class="mt-2">
  <mat-grid-list cols="12" rowHeight="50px" gutterSize="15px">
    <mat-grid-tile colspan="12">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="" formControlName="firstName">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="12">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="" formControlName="lastName">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="12">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="" formControlName="email">
        <mat-error *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid email</mat-error>
        <mat-error *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="12">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" placeholder="" formControlName="password">
        <mat-error *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="12">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input matInput type="password" placeholder="" formControlName="confirm">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile colspan="6">
      <button mat-raised-button color="primary" (click)="registerUser(registerForm.value)" class="full-width" [disabled]="!registerForm.valid">Creer votre compte</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
      <button mat-stroked-button color="primary" [routerLink]="['/authentication/login']" class="full-width">Se connecter</button>
    </mat-grid-tile>

  </mat-grid-list>
</form> 
