<mat-toolbar class="">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <span class="header-spacer"></span>
  <u><a [routerLink]="'profiles'">Alami Z.</a></u>
</mat-toolbar>
<ng-container>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="">

      <app-login-menu></app-login-menu>
      <ng-container *ngIf="isAuthenticated | async">

        <mat-divider></mat-divider>

        <button [routerLink]="'home'" mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Acceuil</span>
        </button>

        <button [routerLink]="'interventions'" mat-button class="menu-button">
          <mat-icon>medication</mat-icon>
          <span>Intérventions</span>
        </button>

        <button [routerLink]="'cliniques'" mat-button class="menu-button">
          <mat-icon>location_city</mat-icon>
          <span>Cliniques</span>
        </button>

        <button [routerLink]="'profiles'" mat-button class="menu-button">
          <mat-icon>people_alt</mat-icon>
          <span>Profiles</span>
        </button>
      </ng-container>




    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content ">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
